# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\gusca\OneDrive\Documentos\POLITO\20.2 - I SEM\Information Systems\Case Study\Teste2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
